<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="loggerConnectionString" value="Server=TestServer;Database=logDb;User Id=loguser;Password=!!545;"/>
    <add key="logLocation" value="C:\QaDatafeed\"/>
    <add key="logLevels" value="Error,Info,Warning"/> <!-- Can be any combination of the three, or none. -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
